<head>
    <title>{{channelName}} - sorvyt</title>
    <style>
        @font-face {
            font-family: "YouTubeFont";
            src: url(/font/YouTubeSansBlack.otf);
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto 1fr;
            gap: 16px;
            font-family: "YouTubeFont";
        }
        .video-item {
            width: 280px;
            height: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border: 1px solid #ddd;
            overflow: hidden;
        }
        .video-item > a > img {
            width: auto;
            object-fit: cover;
            object-position: center;
        }
        .video-item > a > h3 {
            width: 300px;
            margin-top: 0.5rem;
            font-size: 22px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-left: 10px;
        }
        form {
            text-align: center;
            margin-top: 15px;
        }
        form > div > input {
            margin-left: 20px;
            margin-right: 20px;
        }
        form > div > label {
            font-size: 20px;
            margin-bottom: 10px;
            display: block;
        }
        .radio-container {
            display: flex;
            justify-content: center;
            align-items: row;
        }
        .radio-wrapper {
            display: inline-block;
            margin-right: 10px;
        }
        .radio-wrapper > label {
            display: block;
            margin-top: 5px;
        }
    </style>
</head>

{{#> layout}}
    {{#* inline "main"}}
    <div class="grid-container">
            <p></p>
            <p>
                <div class="radio-container">
                    <form id="sort-order" method="get" action="/result?channelId={{channelId}}&order={{order}}">
                        <input type="hidden" name="channelId" value="{{channelId}}">
                        <div class="radio-wrapper">
                            <input type="radio" id="sort-date" name="order" value="date" {{#if (eq order 'date')}}checked{{/if}}>
                            <label for="sort-date">Date</label>
                        </div>
                        <div class="radio-wrapper">
                            <input type="radio" id="sort-rating" name="order" value="rating" {{#if (eq order 'rating')}}checked{{/if}}>
                            <label for="sort-rating">Rating</label>
                        </div>
                        <div class="radio-wrapper">
                            <input type="radio" id="sort-title" name="order" value="title" {{#if (eq order 'title')}}checked{{/if}}>
                            <label for="sort-views">Views</label>
                        </div>
                        <div class="radio-wrapper">
                            <input type="radio" id="sort-views" name="order" value="viewCount" {{#if (eq order 'viewCount')}}checked{{/if}}>
                            <label for="sort-title">Title</label>
                        </div>
                    </form>
                </div>
            </p>
            <p>
                {{#each videos}}
                    <div class="video-item">
                        <a href="https://www.youtube.com/watch?v={{videoId}}" target="_blank">
                            <img src="{{thumbnail}}" alt="{{{title}}}">
                            <h3 title="{{{title}}}">{{{title}}}</h3>
                        </a>
                    </div>
                {{/each}}
            </p>
        </div>
    {{/inline}}
{{/layout}}

<script src="/result.js"></script>